::-webkit-scrollbar {
    background-color: #f7faff;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 23, 85, .8);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 37, 133, .8);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 12, 53, .8);
}

.jumbotron {
    background-color: rgba(255, 255, 255, .4);
    color: rgba(0, 23, 85, .8);
}

.bg-text {
    background-color: rgba(255, 255, 255, .5);
    color: rgba(0, 23, 85, .8);
}

table {
    color: rgba(0, 23, 85, .8);
}

input {
    color: rgba(0, 23, 85, .8);
    border-bottom: 1px solid rgba(0, 23, 85, .8);
}

label {
    color: rgba(0, 23, 85, .8);
}

input:focus ~ label, input:valid ~ label {
    color: rgba(0, 23, 85, .6);
}

.passwordEye {
    color: rgba(0, 23, 85, .8);
}

.button {
    background-color: rgba(255, 255, 255, .5);
    color: rgba(0, 23, 85, .8);
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, .85);
}

.smallButton {
    background-color: rgba(255, 255, 255, .5);
    color: rgba(0, 23, 85, .8);
}

.navBut {
    color: rgba(0, 23, 85, .8);
    border-bottom: rgba(0, 23, 85, .8);
}

.nav-pills .nav-link.active {
    color: rgba(0, 23, 85, .8) !important;
}

.settingsIcon {
    color: rgba(0, 23, 85, .8);
}

.settingsSectionButton {
    color: rgba(0, 23, 85, .8);
    background-color: transparent;
}

.settingsSectionTitle {
    border-bottom: 2px solid rgba(0, 23, 85, .8);
}

.settingsButtonLeftPane {
    color: rgba(0, 23, 85, .8);
}

.contractRow:active {
    background-color: rgba(255, 255, 255, .2) !important;
}

.tableSimpleRow {
    border-top: solid 1px rgba(0, 23, 85, .5);
}

.tableSimpleRow:last-child {
    border-bottom: solid 1px rgba(0, 23, 85, .5);
}

.tableSimpleRow:hover {
    background-color: rgba(255, 255, 255, .35);
}

.tableSimpleRow:not(:hover) {
    background: transparent;
}

.button:hover, .settingsButtonLeftPane:hover {
    background-color: rgba(255, 255, 255, .9) !important;
    color: rgba(0, 23, 85, .8) !important;
}

.collapseButton:hover {
    background-color: rgba(255, 255, 255, .6) !important;
}

.collapseButton {
    color: rgba(0, 23, 85, .8) !important
}

.button:not(:hover) {
    background-color: rgba(255, 255, 255, .5) !important;
    color: rgba(0, 23, 85, .8) !important;
}

.collapseButton:not(:hover) {
    background-color: transparent !important;
}

.settingsButtonLeftPane:not(:hover) {
    background-color: transparent !important;
}

.button:active, .collapseButton:active {
    background-color: rgba(255, 255, 255, .3) !important;
    color: rgba(0, 23, 85, .8) !important;
}

.settingsButtonLeftPane:active {
    background-color: rgba(255, 255, 255, .5) !important;
    color: rgba(0, 23, 85, .8) !important;
}

.navBut:hover, .navButSymbol:hover {
    background-color: rgba(255, 255, 255, .5);
    color: rgba(0, 23, 85, .8);
}

.settingsSectionButton:hover {
    background-color: rgba(255, 255, 255, .9) !important;
    color: rgba(0, 23, 85, .8);
}

.dropdownButton, .dropdownButton:hover {
    color: rgba(0, 23, 85, .8);
}

.dropdownButton:hover {
    background-color: rgba(255, 255, 255, .9) !important;
}

.dropdown .dropdownButton:hover {
    background-color: rgba(255, 255, 255, .5) !important;
}

.settingsRightPane .dropdown .dropdownButton:hover {
    background-color: rgba(255, 255, 255, .9) !important;
}

.settingsRightPane .dropdown .dropdownButton:active {
    background-color: rgba(255, 255, 255, .5) !important;
}

.navBut:not(:hover), .navButSymbol:not(:hover) {
    color: rgba(0, 23, 85, .8) !important;
}

.settingsSectionButton:not(:hover) {
    color: rgba(0, 23, 85, .8) !important;
    background-color: transparent !important;
}

.navBut:active, .navButSymbol:active {
    background-color: rgba(255, 255, 255, .3) !important;
}

.dropdownButton:active {
    background-color: rgba(255, 255, 255, .5) !important;
}

.dropdown .dropdownButton:active {
    background-color: rgba(255, 255, 255, .3) !important;
}

.settingsSectionButton:active {
    background-color: rgba(255, 255, 255, .5) !important;
}

#locales, #userPosition {
    color: rgba(0, 23, 85, .8);
}

.show>.btn-secondary.dropdown-toggle {
    background-color: rgba(255, 255, 255, .5) !important;
    color: rgba(0, 23, 85, .8) !important;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    color: rgba(0, 23, 85, .8) !important;
}

.navButBackground {
    background-color: rgba(255, 255, 255, .7);
    box-shadow: 0 0 6px 0 black;
}

.dropdown-item:hover {
    background-color: rgba(255, 255, 255, .9);
    color: rgba(0, 23, 85, .8);
}

.dropdown-item:not(:hover) {
    background-color: transparent;
    color: rgba(0, 23, 85, .8);
}

.dropdown-item:active {
    background-color: rgba(255, 255, 255, .5);
}

.navbarColored {
    background-color: rgba(255, 255, 255, .7);
}

.navbarTogglerColored {
    background-color: rgba(255, 255, 255, .7);
}

.toggle > div {
    border: 2px solid rgba(0, 23, 85, .6);
}

.toggle > div:before {
    border: 2px solid rgba(0, 23, 85, .6);
}

.toggleEnabled > div:before {
    border: none;
}

.toggleDisabled > div:before {
    border: 2px solid rgba(0, 23, 85, .6);
}

.modal {
    background-color: rgba(255, 255, 255, .9);
}

.modal .modal-content {
    color: rgba(0, 23, 85, .8);
}

.top-right[data-notification-status="neutral"] {
    background-color: rgba(255, 255, 255, .7);
    color: rgba(0, 23, 85, .8);
}

.top-right[data-notification-status="neutral"]:after {
    color: rgba(0, 23, 85, .8);
}

.plus:hover {
    color: rgba(0, 23, 85, .8);
}

.plus:active {
    color: rgba(0, 23, 85, .5);
}

.pushNotification[data-notification-status="neutral"] {
    background-color: rgba(255, 255, 255, .8);
    color: rgba(0, 23, 85, .8);
}