<!DOCTYPE html>
<html style="display: none;" lang="en">
<head>
    <meta charset="utf-8" />
    <title data-localization-page-title="basicsHome"></title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/latest/normalize.css" />
    <link rel="stylesheet" type="text/css" href="~/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <link rel="stylesheet" type="text/css" href="~/css/light.css" class="lightStyle"/>
    <link rel="stylesheet" type="text/css" href="~/css/dark.css" class="darkStyle"/>
</head>
@{ await Html.RenderPartialAsync("~/Views/Home/Extra.cshtml"); }
<div class="bg-image"></div>
<body>
<header>
    <nav class="navbar fixed-top navbar-expand-md">
        <div class="navbar-brand navBut animate slideInLogo" style="display:none;"><span class="navLogoSpiral"></span><span class="navLogoName"></span></div>
        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto navbarUsers">
                @{ await Html.RenderPartialAsync("~/Views/Navbar/NavbarRegisterLogin.cshtml"); }
            </ul>
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav rightNavButtons navButBackground transition">
                @{ await Html.RenderPartialAsync("~/Views/Navbar/MainRightNav.cshtml"); }
            </ul>
        </div>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<footer></footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/js/qrcodegen.js"></script>
<script type="text/javascript" src="https://momentjs.com/downloads/moment-with-locales.js"></script>
<script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>