@using Thalassa.App_GlobalResources

<div class="jumbotron-parent animate slideIn">
    <div class="jumbotron">
        <h1 class="display-4"><span class="spiral"></span><span class="logoName"></span></h1>
        <p class="lead">@Messages.Basics_WelcomeUnderConstruction</p>
        <hr class="my-4">
        <div class="jumbotron-buttons">
            <button type="button" class="button jumbotron-button" name="jumbotronLogin">@Messages.Users_Login</button>
            <button type="button" class="button jumbotron-button" name="register">@Messages.Users_Register</button>
        </div>
    </div>
</div>