<div class="jumbotron-wrapper animate slideIn">
    <div class="jumbotron">
        <h1 class="display-4"><span class="spiral"></span><span class="logoName"></span></h1>
        <p class="lead" data-localization="basicsWelcomeUnderConstruction"></p>
        <hr class="my-4">
        <div class="jumbotron-buttons">
            <button type="button" class="button jumbotron-button" data-localization="usersLogin" name="jumbotronLogin"></button>
            <button type="button" class="button jumbotron-button" data-localization="usersRegister" name="register"></button>
        </div>
    </div>
</div>