@using Thalassa.App_GlobalResources

<li class="nav-item animate slideIn">
    <button type="button" class="nav-item navButSymbol lightSymbol navButSettings" title="@Messages.Basics_Settings"></button>
</li>