<li class="nav-item navLogin-wrapper" style="display: none;">
    <button type="button" class="navBut navLogin" data-localization="usersSwitchToLogin"></button>
</li>
<li class="nav-item navRegister-wrapper" style="display: none;">
    <button type="button" class="navBut navRegister" data-localization="usersSwitchToRegister"></button>
</li>