@using Thalassa.App_GlobalResources

<li class="nav-item navLogin-parent" style="display: none;">
    <button type="button" class="navBut navLogin">@Messages.Users_SwitchToLogin</button>
</li>
<li class="nav-item navRegister-parent" style="display: none;">
    <button type="button" class="navBut navRegister">@Messages.Users_SwitchToRegister</button>
</li>